# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.venv/

# DataBase settings
.env

# Pycharm settings.
.idea

# Django migrations
*/migrations/*.py[cod]
*/migrations/__pycache__/
!*/migrations/__init__.py
